body {
	color: #fff;
	font-family: Helvetica Neue;
	background-color: #000;
}
#cc-icon {
	text-align: center;
	height: 4em;
}
i.fa {
	color: #fff;
}
canvas {
	position: absolute;
	z-index: 0;
}
.form-container {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}
input[type="text"]{
	margin-top: 30px;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #fff;
	outline:none;
	font-size: 30px;
	line-height:35px;
	color: #fff;	
}